/* Default styling for entire porfolio */

* {
  font-family: "Open Sans";
}
a {
  text-decoration: underline;
  color: black;
}

p {
  color: black;
}

.HomePage {
  display: grid;
  grid-template-columns: [first-col-start] 50% [second-col-start] 50% [col-end];
  grid-template-rows: [first-row-start] auto [second-row-start] 50px [row-end];
  height: 100vh;
}

.landing-page-container {
  grid-row: [first-row-start] / [second-row-start];
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-container.left {
  grid-column: [first-col-start] / [second-col-start];
  background-color: #d6f1f2;
}

.landing-page-container.right {
  grid-column: [second-col-start] / [col-end];
  background-color: #f2d7d6;
}

.landing-page-container h1 {
  text-align: center;
}

.menu-container {
  /* grid-row: [second-row-start] / [row-end]; */
  /* grid-column: [first-col-start] / [col-end]; */
  position: fixed;
  bottom: 0px;
  height: 50px;
  background-color: #202020;
  width: 100vw;
  opacity: 0.8;
}

.menu-container ul,
li {
  list-style-type: none;

  float: left;
}

.menu-container a {
  color: white;
  padding-right: 10px;
}

.projectListing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-thumbnail {
  width: 50vw;
  height: 50vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

.project-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .project-thumbnail h1,
p {
  display: block;
  text-align: center;
  color: white;
} */

.number0 {
  background-color: #ffe5e7;
}

.number1 {
  background-color: #dfedfa;
}
.number2 {
  background-color: #efdef5;
}
.number3 {
  background-color: #f4d8df;
}
.project-thumbnail h1 {
  text-transform: uppercase;
}

/* Project Detail Page */

/* .project-detail-wrapper p {
  color: black;
} */

/* Article Listing Styling */
.articleListing-container {
  width: 70vw;
  margin: 0 auto;
}

.articleListing-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
}

.articleListing-container a {
  text-decoration: none;
}

/* Article Thumbnail Styling */

.articleThumbnail-wrapper {
  margin-bottom: 3em;
}

.articleThumbnail-wrapper h1 {
  margin-bottom: 0.5em;
}

.articleImage-wrapper {
  width: 50vw;
  margin: 0 auto;
}

.articleImage-wrapper img {
  width: 100%;
}
.articleThumbnail-icon-container {
  /* margin-top: 1em; */
  text-align: center;
  font-size: 0.8em;
}

.articleThumbnail-icon-container span {
  padding-left: 0.8em;
}

.articleSnapshot-text-wrapper {
  width: 40vw;
  margin: 0 auto;
}
