/* Default styling for entire porfolio */

* {
  font-family: "Open Sans";
  color: black;
  cursor: default;
}
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  cursor: pointer;
}

.landing-page {
  display: grid;
  grid-template-columns: [first-col-start] 50% [second-col-start] 50% [col-end];
  grid-template-rows: [first-row-start] auto [second-row-start] 50px [row-end];
  height: 100vh;
}

.landing-page-container {
  grid-row: [first-row-start] / [second-row-start];
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-container.left {
  grid-column: [first-col-start] / [second-col-start];
  /* background-image: url("http://localhost:3000/assets/code.gif");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #bae9ea;
}

.landing-page-container.right {
  grid-column: [second-col-start] / [col-end];
  background-color: #f2d7d6;
}

.landing-page-container a {
  text-align: center;
  color: white;
}
/* @keyframes toFocus {
  from {
    background-color: #d6f1f2;
  }
  to {
    background: radial-gradient(#e66465, #9198e5);
  }
}

.landing-page-container.left:hover {
  animation: toFocus 5s;
  animation-timing-function: ease-in;
} */

/* Display Area, subject to change based on screen size */
.display-area {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

/* Bottom Menu Bar Styling */

.menu-container {
  position: fixed;
  bottom: 0px;
  height: 50px;
  background-color: #202020;
  width: 100vw;
  opacity: 0.8;
}

.menu-container ul,
li {
  list-style-type: none;
  float: left;
}

.menu-container a {
  color: white;
  padding-right: 10px;
}

/* Project Listing Styling */

.projectListing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectListing-container a {
  text-decoration: none;
}

.project-thumbnail {
  width: 50vw;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project Thumbnail Styling */

/* .project-text-wrapper {
  width: calc(100% - 150px);
} */
.project-text-wrapper:hover {
  cursor: pointer;
}
.project-text-wrapper h1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.08em;
}

p.project-text-wrapper,
span.project-text-wrapper {
  font-family: serif;
  font-style: italic;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.number0 {
  background-color: #ffe5e7;
}

.number1 {
  background-color: #dfedfa;
}
.number2 {
  background-color: #efdef5;
}
.number3 {
  background-color: #f4d8df;
}

/* ============ Project Detail Page ============ */
.project-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  font-family: "Open Sans";
  font-weight: 300;
}

h1.project-title {
  font-size: 3em;
  /* margin-bottom: 0.1em; */
  font-weight: 300;
}

.project-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

span.project-img-description {
  font-size: 16px;
  color: #6d6d6d;
  font-style: normal;
  font-family: "Open Sans";
  display: block;
}

.project-img {
  margin: 0 auto;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

h2.project-section-title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

p.project-text {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  color: #6d6d6d;
  line-height: 1.5em;
}

h3.project-subsection-title {
  width: 50vw;
  margin: 0 auto;
  font-weight: 400;
  color: #6d6d6d;
  text-align: left;
  margin-bottom: 0.8em;
}

/* ============ Article Listing Styling ============ */
.articleListing-container {
  margin: 0 auto;
}

.articleListing-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.articleListing-container a {
  text-decoration: none;
}

.articleSnapshot-text-wrapper p {
  text-align: left;
}

/* Article Thumbnail Styling */

.articleThumbnail-wrapper {
  margin-bottom: 5em;
  margin-top: 5em;
}

.articleImage-wrapper {
  width: 50vw;
  margin: 0 auto;
}

.articleImage-wrapper img {
  width: 100%;
}
.articleThumbnail-icon-container {
  text-align: center;
  font-size: 0.8em;
}

.articleThumbnail-icon-container span {
  padding-left: 0.8em;
}

span.articleThumbnail-span {
  font-style: normal;
}

.articleSnapshot-text-wrapper {
  width: 40vw;
  margin: 0 auto;
}

p.articleSnapshot {
  color: #616161;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.5em;
}
/* Article Listing Page Side Bar Styling */
.article-listing-sidebar {
  position: fixed;
  width: 25vw;
  max-width: 200px;
  margin-left: 30px;
}
.article-listing-sidebar ul {
  padding-left: 15px;
}

.article-listing-sidebar ul li {
  float: none;
  list-style: none;
  text-align: right;
  padding-bottom: 5px;
  line-height: 1.5em;
}

.article-listing-sidebar a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.article-listing-sidebar li {
  display: block;
}

.article-listing-sidebar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.article-listing-sidebar a:hover::before {
  cursor: pointer;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* =========== Individual Article Page Styling ============== */
.writing-detail-wrapper {
  margin: 0 auto;
  margin-top: 5em;
  width: 50vw;
  margin-bottom: 5em;
}

h1.article-title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.article-text-wrapper h3 {
  font-weight: 400;
  color: #6d6d6d;
  text-align: left;
  margin-bottom: 0.8em;
  text-align: center;
  font-size: 1.5em;
}

.article-text-wrapper p {
  text-align: left;
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  color: #616161;
  line-height: 1.5em;
}

.article-text-wrapper span {
  display: block;
  margin: 0 auto;
  color: #5d5d5d;
  font-size: 12px;
}

/* Project : HOLOGLASS */
#specialThanks {
  text-align: center;
}

/* =============== Project : Miniature Artists ============= */
/* Artist Button */
.artist-btn {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.artist-btn span {
  font-style: normal;
  font-family: "Open Sans";
  font-size: 12px;
}

.artist-btn-panel {
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: center;
  margin-top: 10px;
}
span.artist-btn-panel-span {
  font-size: 12px;
  font-style: normal;
  font-family: "Open Sans";
}

/* =============== Project : HoloGlass ============= */
li.hologlass-listing {
  margin-bottom: 15px;
}

#mini-poster {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* =============== About Me Page ================ */
.intro-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.intro-text-container {
  /* max-width: 250px; */
  padding: 0px 40px;
}
.intro-img-container {
  /* border-radius: 3px; */
  min-width: 200px;
}
