.App{
  margin:0 auto;
  width:500px;
  margin-top: 50px;
}

input {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 12px 20px;
  margin-bottom: 10px;
  font-size:14px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
